/*
 * Copyright 2008 Daniel Stiner and the 4-H Million Trees Project
 * 
 * General Stylesheet for the 4HMT Project (www.4hmilliontrees.org)
 */

/* Basic styles that define the overall look of the site. */

body {
	margin: 0px;
	background-color: rgb(255, 250, 230);
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(60, 60, 0);
	padding-bottom: 20px;
}

img {
	border: none;
}

a {
	color: rgb(204, 153, 51);
}

blockquote {
	text-align: justify;
	font-size: 100%;
	width: 300px;
	margin: 0px;
	padding: 10px;
	quotes: "\201C" "\201D";
}

blockquote:before {
	content: open-quote;
	font-weight: bold;
	font-size: x-large;
}

blockquote:after {
	content: close-quote;
	font-weight: bold;
	font-size: x-large;
}

/* Styles for the left-hand navigation bar */
#leftnav {
	text-align: center;
	margin: 10px;
	width: 150px;
	background-color: rgb(60, 60, 0);
	color: rgb(255, 250, 230);
	position: absolute;
	font-size: 110%;
	left: 0em;
}

#leftnav img {
	margin: 5px auto;
}

#leftnav h1 {
	font-size: 18pt;
	margin: 0em;
	padding-top: .2em;
}

#leftnav a {
	color: rgb(255, 250, 230);
	text-decoration: none;
	display: block;
}

#leftnav a:hover {
	color: rgb(204, 153, 51);
}

#leftnav a:active {
	color: rgb(190, 80, 40);
}

#leftnav a.active,
a.active:hover {
	text-decoration: none;
	color: #BE5028;
}

/* Not exactly sure what these menu styles are for... */
#menu {
	text-align: left;
	margin-bottom: .3em;
}

#menu a {
	margin-left: 1em;
	padding: 2px 0px;
}

/* The general content div
 *  contains almost all the text and other content */
#page,
#footer {
	margin-left: 180px;
	padding: 1.5em;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: left;
	max-width: 650px;
}

#page h1 {
	padding-top: 0.5em;
	padding-bottom: 0.4em;
}

#page h2 {
	text-align: left;
	margin-bottom: 0px;
}

#page p,
ul,
blockquote {
	margin-top: 0px;
	margin-bottom: 20px;
	line-height: 150%;
	text-align: left;
	font-size: 101%;
}

/* Form-specific styles
 *  Mainly for the registration form
 *  Also used for editing pre-exsiting clubs */
form {
	text-align: left;
}

form.spaced input {
	margin: 14px 0 0 10px;
	float: left;
	display: block;
	padding: 0px;
	width: 200px;
}

form.spaced label {
	margin: 14px 0 0 10px;
	text-align: right;
	float: left;
	display: block;
	padding: 0px;
	width: 232px;
}

form.spaced select {
	margin: 14px 0 0 10px;
}

form .autowidth {
	width: auto;
}

form br {
	margin: 10px;
}

form fieldset {
	padding-bottom: 11px;
	margin-bottom: 10px;
}

form .error {
	background-color: #FFFF80;
	border-color: #FFFF80;
}

.undisplay,
form .honeypot {
	display: none;
}
